.addexp {
  display: inline-flex;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 5%;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.continue{
  align-items: center;
  justify-content: center;
}
.continue button{
  width: 80%;
}

.addexp h1 {
  width: fit-content;
  color: #000;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.addexp-box {
  width: 100%;
  display: flex;
  padding: 25px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f3f3f3;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #4a4a4a;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 15px;
}

.exp-num {
  font-size: 18px;
  width: 5%;
}

.exp-details {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.exp-details p {
  margin: 0px;
}

.edit-delete-btns {
  display: flex;
  padding: 0px;
  justify-content: center;
  align-items: center;
}

.edit-exp-btn {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background: #fff;
  border-radius: 32px;
  border: 1px solid var(--text-inactive, #4a4a4a);
  color: var(--text-inactive, #4a4a4a);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.delete-exp-btn {
  background: none;
  border: none;
  padding: 0px;
}

#emp{
  width: 75% !important;
}

.addexp-box-contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background: none;
  box-shadow: none;
} 

.addexp-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.add-exp-form-section{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.add-exp-form-section input{
  width: 40%;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
}
.css-b62m3t-container{width: 40%;}
.add-exp-form-section label{
  font-weight: 500;
}

.add-exp-form-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.add-exp-form-section input:focus {
  outline: none;
}

.addbutton {
  display: inline-flex;
  padding: 20px;
  align-items: center;
  gap: 207px;

  border-radius: 16px;
  border: 1px solid var(--Card-Inactive, #f3f3f3);
  background: var(--Card-Inactive, #f3f3f3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  color: #4a4a4a;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

.addbutton add-icon {
  width: 64px;
  height: 64px;
}

.addbutton:hover {
  background-color: rgb(234, 234, 234);
}

.continue h4 {
  color: #4a4a4a;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.continue {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

.continue-btn {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 32px;
  background: #3818fd;
  border-width: 0px;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.faq-div {
  display: flex;
  padding: 16px 0px;
  align-items: flex-start;
  gap: 10px;
}

#cont{
  width: 100%;
}

#addexpa{
  width: 100% !important;
}

#addexpbtn{
  width: 100% !important;
}

#addbtnaddexp{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.add-btn-text{
  width: 40%;
}

@media (max-width: 600px){
  .addexp-box{
    flex-direction: column;
    gap: 22px;
  }
  
  #addexpbox1 div{
    width: 95%;
  }
  .edit-delete-btns{
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
}

@media (max-width: 565px){
  .addexp h1{
    font-size: 35px ;
  }
  #emp{
    padding-left: 6px;
    padding-right: 6px;
    width: 90% !important;
  }
}

@media (max-width: 480px){
  .exp-details div p{
    font-size: 13px;
  }
  .exp-details div label{
    font-size: 13px;
  }
}

@media (max-width: 410px){
  .addexp h1{
    font-size: 30px ;
  }
  
  .add-exp-form-section label{
    font-size: 14px;
  }
}

@media (max-width: 350px){
  .addexp{
    margin-right: 10px;
    margin-left: 15px;
  }
  .exp-details div label{
    font-size: 12px;
  }
  .exp-details div p{
    font-size: 12px;
  }
  .addexp h1{
    font-size: 24px;
    text-align: center;
  }
  .add-exp-form-section input{
    font-size: 14px;
    
  }
  .add-exp-form-section label{
    margin-left: 0px !important;
  }
}

@media (max-width: 280px){
  .exp-details div label{
    font-size: 11px;
  }
  .exp-details div p{
    font-size: 11px;
  }
  .addexp h1{
    font-size: 20px;
    text-align: center;
  }
}