body {
  background: #fff;
}

.signin-div {
  height: 70%;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  display: flex;
  line-height: normal;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 20px;
  background-color: #ffffff;
}

.heading {
  width: 597px;
  color: #000;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  line-height: normal;
}

.signup-form {
  text-align: center;
  display: flex;
  padding: 32px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 16px;
  border: 1px solid var(--Card-Inactive, #f3f3f3);
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  > input {
    display: flex;
    width: 100%;
    height: 56px;
    padding: 16px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 16px;
    border: 1px solid #d9d9d9;
  }
  > button {
    display: flex;
    width: 100%;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 32px;
    border-width: 0px;
    background: #3818fd;
    color: #fff;
  }
  .useaccount {
    color: black;
    border: 1px solid #000;
    background-color: #ffffff;
  }
  > p {
    border: solid #d9d9d9;
    border-width: 1.5px;
    width: 100%;
    height: 0px;
  }
  > h4 {
    padding: 6px 10px;
    margin-left: 13px;
    font-size: large;
  }
}

.signup-form div{
  width: 100%;
}

.heading{
  width: fit-content;
}

#dont-have-an-account a {
  color: #3818fd;
  text-decoration: none;
}

@media (max-width:520px){
  .heading{
    font-size: 40px;
    margin-bottom: 35px;
  }
  .signup-form{
    padding: 10px;
  }
  
  #verify{
    width: 380px !important;
    align-items: center !important;
  }
  #verify form{
    width: 100% !important;
  }
  body{
    align-items: center !important;
  }
}

@media (max-width:440px){
  .heading{
    font-size: 35px;
  }
  .signup-form{
    width: 250px;
  }
  .signin-div h4{
    font-size: 16px;
  }
  #verify{
    width: 300px !important;
  }
  #pass{
    padding-bottom: 0px !important;
  }
  #confPass{
    padding-top: 0px !important;
  }
}

@media (max-width:380px){
  .heading{
    font-size: 30px;
  } 
}

@media (max-width:330px){
  .heading{
    font-size: 28px;
  }
  .signup-form{
    width: 230px;
  }
  .signup-form button{
    padding: 12px 24px;
    font-size: 13px;
  }
}

@media (max-width:310px){
  .heading{
    font-size: 25px;
  }
  .signup-form{
    width: 220px;
  }
  .signup-form button{
    padding: 12px 24px;
    font-size: 12px;
  }
}

@media (max-width:290px){
  .heading{
    font-size: 22px;
  }
  .signup-form{
    width: 210px;
  }
  .signup-form button{
    padding: 12px 24px;
    font-size: 11px;
  }
}